VITE_FIREBASE_API_KEY=AIzaSyARqFrQUONDufC6cdybGbTeNsRsyGhuAUg
VITE_FIREBASE_AUTH_DOMAIN=yangin-tupu.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=yangin-tupu
VITE_FIREBASE_STORAGE_BUCKET=yangin-tupu.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=743165469599
VITE_FIREBASE_APP_ID=1:743165469599:web:0b185ef852b31e8716d3aa
